## 데이터베이스 생성

In [2]:
import pymysql 

conn = pymysql.connect(host='localhost', user='root', password='0000', charset='utf8') 
cursor = conn.cursor() 

sql = "CREATE DATABASE study" 

cursor.execute(sql) 

conn.commit() 
conn.close()

## 테이블 생성

In [3]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='0000', db='study', charset='utf8')
cursor = conn.cursor()

sql = '''
CREATE TABLE user (
    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(255) UNIQUE,
    password VARCHAR(255),
    email VARCHAR(255) UNIQUE,
    phone_number VARCHAR(255) UNIQUE,
    state BOOLEAN
)
'''

cursor.execute(sql)

conn.commit()
conn.close()

In [9]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='0000', db='study', charset='utf8')
cursor = conn.cursor()

sql = '''
CREATE TABLE attendance (
    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(255),
    time DATETIME
)
'''

cursor.execute(sql)

conn.commit()
conn.close()

## 테이터 삽입 (insert)

In [4]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='0000', db='study', charset='utf8')
cursor = conn.cursor()

sql = "INSERT INTO user (username, password, email, phone_number, state) VALUES (%s, %s, %s, %s, %s)"

# 샘플 데이터
sample_data = [
    ("developer_lim", "password123", "developer_lim@limcoding.com", "010-1234-5678", True),
    ("developer_kim", "password123", "developer_kim@limcoding.com", "010-2345-6789", True),
    ("developer_song", "password123", "developer_song@limcoding.com", "010-3456-7890", True)
]

# 데이터 삽입
for data in sample_data:
    cursor.execute(sql, data)

conn.commit()
conn.close()

In [ ]:
import pymysql 

conn = pymysql.connect(host='localhost', user='root', password='0000', db='study', charset='utf8') 

cursor = conn.cursor() 

sql = "INSERT INTO user (username, password, email, phone_number, state) VALUES (%s, %s)" 

cursor.execute(sql,("developer_lim@limcoding.com", "AI")) 
cursor.execute(sql,("developer_kim@limcoding.com", "AI")) 
cursor.execute(sql,("developer_song@limcoding.com", "AI")) 

conn.commit() 

conn.close()

In [7]:
import pymysql
from datetime import datetime

conn = pymysql.connect(host='localhost', user='root', password='0000', db='study', charset='utf8')
cursor = conn.cursor()

# SQL 쿼리
sql = '''
INSERT INTO attendance (username, time) 
VALUES (%s, %s)
'''

# 현재 시간
now = datetime.now()

# 샘플 데이터
sample_data = [
    ("user1", now),
    ("user2", now),
    ("user3", now)
]

# 데이터 삽입
for data in sample_data:
    cursor.execute(sql, data)

conn.commit()
conn.close()

## 데이터 검색

In [10]:
import pymysql 

conn = pymysql.connect(host='localhost', user='root', password='0000', db='developer', charset='utf8') 

cursor = conn.cursor() 

sql = "SELECT * FROM user where department = %s" 

cursor.execute(sql, ("AI")) 
res = cursor.fetchall() 

for data in res: 
        print(data) 

conn.commit() 
conn.close()

(1, 'developer_lim@limcoding.com', 'AI')
(2, 'developer_kim@limcoding.com', 'AI')
(3, 'developer_song@limcoding.com', 'AI')

## 데이터 수정 (update)

In [12]:
import pymysql 

conn = pymysql.connect(host='localhost', user='root', password='0000', db='developer', charset='utf8') 

cursor = conn.cursor() 

sql = "UPDATE user SET department = %s WHERE email = %s" 
cursor.execute(sql, ("Testing", "developer_song@limcoding.com")) 

conn.commit() 
conn.close()

## 데이터 삭제

In [14]:
import pymysql 

conn = pymysql.connect(host='localhost', user='root', password='0000', db='developer', charset='utf8') 

cursor = conn.cursor() 

sql = "DELETE FROM user WHERE email = %s" 
cursor.execute(sql, ("developer_song@limcoding.com")) 
conn.commit() 

conn.close()

In [14]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='0000', db='study', charset='utf8')
cursor = conn.cursor()

sql = "DELETE FROM user WHERE username = %s"
cursor.execute(sql, ("aaaa"))  # id 4번 데이터 삭제
conn.commit()

conn.close()

## DB 삭제

In [1]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='0000', db='study', charset='utf8')
cursor = conn.cursor()

sql = "DROP DATABASE study"


cursor.execute(sql)

conn.commit()
conn.close()

## 테이블 삭제

In [8]:
import pymysql

conn = pymysql.connect(host='localhost', user='root', password='0000', db='study', charset='utf8')
cursor = conn.cursor()

sql = 'DROP TABLE IF EXISTS attendance'

cursor.execute(sql)

conn.commit()
conn.close()